

<div class="grid grid-cols-4 gap-4">
  <div class="col-start-2">
    <form [formGroup]="formGroup" class="max-w-sm mx-auto" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <div class="mb-5">
        <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
        <input type="text" id="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ingrese su nombre" formControlName="nombre" />
      </div>

      <!-- Apellido Paterno -->
      <div class="mb-5">
        <label for="apaterno" class="block mb-2 text-sm font-medium text-gray-900">Apellido Paterno</label>
        <input type="text" id="apaterno" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ingrese su apellido" formControlName="apaterno" />
      </div>

      <!-- Apellido Materno -->
      <div class="mb-5">
        <label for="amaterno" class="block mb-2 text-sm font-medium text-gray-900">Apellido Materno</label>
        <input type="text" id="amaterno" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ingrese su apellido" formControlName="amaterno" />
      </div>
      
      <!-- Fecha de Nacimiento -->
      <div class="mb-5">
        <h1 class="text-sm font-medium text-gray-900 mb-2">Fecha de nacimiento</h1>

        <!-- Día -->
        <label for="dia" class="block mb-2 text-sm font-medium text-gray-900">Día</label>
        <input type="number" max="31" id="dia" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ingrese su día" formControlName="dia" />

        <!-- Mes -->
        <label for="mes" class="block mb-2 text-sm font-medium text-gray-900">Mes</label>
        <input type="number" min="1" max="12" id="mes" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ingrese su mes" formControlName="mes" />

        <!-- Año -->
        <label for="year" class="block mb-2 text-sm font-medium text-gray-900">Año</label>
        <input type="number" min="1984" id="year" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ingrese su año" formControlName="year" />
      </div>

      <!-- Sexo -->
      <div class="mb-5">
        <h1 class="text-sm font-medium text-gray-900 mb-2">Sexo</h1>

        <!-- Hombre -->
        <input id="hombre" formControlName="sexo" type="radio" name="sexo" value="hombre"
        class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300" />
        <label for="hombre" class="ms-2 text-sm font-medium text-gray-900">Hombre</label>
          <br>
        <!-- Mujer -->
        <input id="mujer" formControlName="sexo" type="radio" name="sexo" value="mujer"
        class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300" />
        <label for="mujer" class="ms-2 text-sm font-medium text-gray-900">Mujer</label>
      </div>

      <!-- Botón de enviar -->
      <button type="submit" (click)=" mostrar()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
        Calcular
      </button>
    </form>
  </div>
</div>
<h2 class="text-3xl font-bold text-center text-blue-600 my-6">Resultado del Zodiaco Chino</h2>

<div class="bg-blue-100 shadow-lg rounded-lg p-6 max-w-md mx-auto">
  <p class="text-lg font-medium text-blue-700 mb-2">Nombre Completo: <span class="font-semibold">{{ nombreCompleto }}</span></p>
  <p class="text-lg font-medium text-blue-700 mb-2">El año de nacimiento ingresado es: <span class="font-semibold">{{ year }}</span></p>
  <p class="text-lg font-medium text-blue-700 mb-2">Tu edad es: <span class="font-semibold">{{ edad }}</span> años</p>
  <p class="text-lg font-medium text-blue-700 mb-4">Tu signo zodiacal chino es: <span class="font-semibold">{{ signoZodiacal }}</span></p>

  <!-- Mostrar la imagen del signo zodiacal -->
  <div class="flex justify-center">
    <img [src]="imagenSigno" alt="{{ signoZodiacal }}" class="w-40 h-40 rounded-full border-4 border-blue-200 shadow-lg" />
  </div>
</div>
